@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,300&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: rgb(247, 241, 241);
}



header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.container {
  max-width: 768px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
  
}

.btn {
  display: inline-block;
  background: rgb(22, 72, 112);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background-color:rgb(43, 41, 41);
  color: rgb(240, 238, 238);
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  width: 100px;
}

.posts {
  display: grid;
  background-color: rgb(17, 17, 17);
  gap: 40px;
  padding-bottom: 30px;
  
}
.card img {
  width: 30%;
  float: left;
  border-radius: 15px;
}
.card {
  padding: 15px;
  border-radius: 10px;
  width:700px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
  float: left;
  background-color: rgb(27, 27, 27);
  color: rgb(240, 238, 238);
}
.card h2{
  padding-left: 20px;
  margin-left: 200px;
  
}
.card p{
  margin-left: 220px;
  font-weight: 700;
}
.posts h1{
  color:rgb(240, 238, 238);
  text-align: center;
  font-size: 5ch;
  padding-top: 25px;
  font-weight: 900;
}
.card-page {
  padding: 15px 30px;
  padding: 15px;
  border-radius: 10px;
  width:800px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  
  background-color: rgb(27, 27, 27);
  color: rgb(240, 238, 238);
}
.card-page img{
  width:65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.post-title {
  margin: 10px 0;
  font-size: 5ch;
}

.post-date {
  background: rgb(27, 27, 27);
  margin-bottom: 20px;
  padding: 3px 10px;
  margin-left: 210px;
  font-weight: 700;
  
}
.postt-date {
  background: rgb(27, 27, 27);
  margin-bottom: 20px;
  padding: 3px 10px;
  display:flex;
  justify-content: center;
  font-size: 2ch;
  
}
.post-body{
  margin-top: 30px;
  font-size: 2ch;
  
}

.post-body h2{
  margin-top: 20px;
}

.post-body ul,
ol {
  font-size: 100%;
  line-height: 2.3;
  font-weight: bold;
  margin-left: 15px;
  font-size: 1.5ch;
}

.post-body pre {
  background: #251717;
  padding: 20px;
  margin: 40px 0;
  line-height: 3.6;
  font-size: 1.5ch;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}